<!DOCTYPE html>
<html lang="en" ng-app="SDQL">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Full Stack SDQL</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js">
  </script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js">
  </script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js">
  </script>
  <script type="text/javascript" src="app.js">
  </script>
  <script type="text/javascript" src="javascripts/controllers.js">
  </script>
  <script type="text/javascript" src="javascripts/cbbController.js">
  </script>
  <script type="text/javascript" src="javascripts/filters.js">
  </script>
  <script type="text/javascript" src="javascripts/services.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type=“text/css” href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<header class='bg-primary'>
  <span>
  <a ng-href="/#/" class="h3">Home</a>
</span>
  <span>
    <a class="h3" ng-href="/user/login"> Login</a>
    <a class="h3" ng-href="/register">Register</a>
  </span>
</header>

<body class="bg-info" ng-controller="sdqlController">

  <div>
    <h2 class='text-center'>{{view.greeting}}</h2>
    <h4 class=text-center>This website was built using the <a href="http://sportsdatabase.com/api">SDQL API</a>.</h4>
  </div>

  <main ng-view>
  </main>

</body>
</html>
