html header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  height: 65px;
  padding: 18px;
}
html header span {
  margin-left: 10px;
}
header p {
  margin-right: 80%
}
html header a {
  padding-right: 15px;
}
img{
  border-radius: 10px;
}
html div.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.colHolder{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
}
.colHolder div {
  display: flex;
  flex-direction: column;
  width: 9%;
  border-color: black;
  border-width: thin;
  border-style: solid;
}
.colHolder div h6 {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.success {
  background: lightgrey;
}
.fail {
  background : red;
}
p.text-center {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.text-center div h6:first-child {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-bottom-width: 1.75px;
}
.border {
  outline:1px solid black
}
.failure {
  background-color: red;
}
.CBBAnalysis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.CBBAnalysis div {
  display: flex;
  flex-direction: column;
  width: 9%
}
a[ng-click]{
    cursor: pointer;
}
.green {
  background: lightgreen;
}
.red {
  background: #CC1C3B;
}
.white {
  background: lightgrey;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
  .date{
    font-size: 1.0em;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
  .date{
    font-size: .75em;
  }
}
