<h3 class="text-center">NBA Home</h3>
<h4 class="text-center"><a ng-href="/#/">Home</a></h4>
<div class='text-center'>

  <p ng-show="view.successGreeting.length" class="text-center">
    {{view.successGreeting}}
  </p>
  <h4 class="text-center">Games for {{view.date}}</h4>
  <div class='colHolder'>
    <div>
      <h5 class="primary">HT Line</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="line in view.NBAlines track by $index"><a ng-href="/#/NBA/lineAnalysis/{{line}}">{{line}}</a></h5>
    </div>
    <div>
      <h5 class="primary">Total</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="total in view.NBAtotals track by $index"><a ng-href="/#/NBA/totalAnalysis/{{total}}">{{total}}</a></h5>
    </div>
    <div>
      <h5 class="primary">Home Team</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="team in view.NBAteams track by $index"><a ng-href="/#/NBA/teamAnalysis/{{team}}">{{team}}</a></h5>
    </div>
    <div>
      <h5 class="primary">Away Team</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="opponent in view.NBAopponents track by $index"><a ng-href="/#/NBA/opponentAnalysis/{{opponent}}">{{opponent}}</a></h5>
    </div>
    <div>
      <h5 class="primary">Home Rest</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="rest in view.NBArest track by $index"><a ng-href="/#/NBA/restAnalysis/{{rest}}">{{rest}}</a></h5>
    </div>
    <div>
      <h5 class="primary">Opp. Rest</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="oRest in view.NBAoRest track by $index"><a ng-href="/#/NBA/opponentAnalysis/{{oRest}}">{{oRest}}</a></h5>
    </div>
  </div>

</div>
