<div class="container-fluid">
  <br>
  <div class="text-center">
    <a ng-click='view.getCFBData()' ng-href="/#/CFB" class="col-md-3"><img  ng-src="https://images.performgroup.com/di/library/omnisport/d1/d9/ncaa-football-logo_1dtqtdoitpl9t1cqksvegay0r8.jpg?t=1997886532" height="160px" width='200px'></a>
    <a ng-href="/#/CBB"   ng-click='view.getCBBData()'class="col-md-3"><img  ng-src="https://thesource.com/wp-content/uploads/2015/11/NCAA-Basketball-Logo.jpg" height="160px" width='200px'></a>
    <a ng-href="/#/NBA" ng-click='view.getNBAData()' class="col-md-3"><img  ng-src="https://c0bf49af09dabaaf4f81-3c5c7cf439b200c763d8c176f7f8a124.ssl.cf2.rackcdn.com/images/images/2321/photos/large/MJlogowhitebackground.jpg_babab12f0050cbf3e4f28a7551d0e1cb?1360862396" height="160px" width='200px'></a>
    <a ng-href="/#/NFL" ng-click='view.getNFLData()'class="col-md-3"><img  ng-src="https://s-media-cache-ak0.pinimg.com/originals/83/f3/56/83f356f6f0fdaf290c3cfa62b02fb410.jpg" height="160px" width='200px'></a>
  </div>
</div>
