<h3 class="text-center">College Football Home</h3>
<h4 class="text-center"><a ng-href="/#/">Home</a></h4>
<div class='text-center'>

  <p ng-show="view.successGreeting.length" class="text-center">
    {{view.successGreeting}}
  </p>

  <div class='colHolder'>
    <div>
      <h5 class=primary>Line</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="line in view.CFBlines track by $index"><a ng-href="/#/CFB/lineAnalysis/{{line}}">{{line}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Total</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="total in view.CFBtotals track by $index"><a ng-href="/#/CFB/totalAnalysis/{{total}}">{{total}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Home Team</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="team in view.CFBteams track by $index"><a ng-href="/#/CFB/teamAnalysis/{{team}}">{{team}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Away Team</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="opponent in view.CFBopponents track by $index"><a ng-href="/#/CFB/opponentAnalysis/{{opponent}}">{{opponent}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Rest</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="rest in view.CFBrest track by $index"><a ng-href="/#/CFB/restAnalysis/{{rest}}">{{rest}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Opp. Rest</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="oRest in view.CFBoRest track by $index"><a ng-href="/#/CFB/oRestAnalysis/{{rest}}">{{oRest}}</a></h5>
    </div>
  </div>

</div>
