
<h4 class="text-center"><a ng-click="view.reloadCBBPage()">College Basketball Home</a></h4>

<div ng-show=view.CBBpoints class="text-center">
  <h4 class="text-center">   {{view.dateHomeTeam}}</h4>
  <div class="colHolder">
    <h6>Average Point Scored Per Game: {{view.CBBaverageObj.averagePointsScored}}</h6>
    <h6 class="border">Average Vegas Over/Under: {{view.CBBaverageObj.averageOverUnder}}</h6>
    <h6 class="border">Average Point Spread: {{view.CBBaverageObj.averagePointSpread}}</h6>
    <h6 class="border">Average ATSPerformance: {{view.CBBaverageObj.averageATSPerformance}}</h6>
  </div>

  <div class="colHolder">
  <div>
    <h6 class=primary>Date</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBHomeTeamDates track by $index" class="date">{{date | dateFilter}}</h6>
  </div>
  <div>
    <h6 class=primary>Line</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBHomeTeamLines track by $index">{{line}}</h6>
  </div>
  <div>
    <h6 class=primary>Total</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBHomeTeamTotals track by $index">{{total}}</h6>
  </div>
  <div ng-show="view.CBBteams">
    <h6 class=primary>Home Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBHomeTeamTeams track by $index">{{team}}</h6>
  </div>
  <div>
    <h6 class=primary>Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBHomeTeamPoints track by $index" ng-href>{{points}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBHomeTeamOpponents track by $index">{{opponent}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBHomeTeamoPoints track by $index">{{oPoints}}</h6>
  </div>
  <div>
    <h6 class=primary>Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBHomeTeamRest track by $index">{{rest}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBHomeTeamoRest track by $index">{{oRest}}</h6>
  </div>
  <div>
    <h6 class=primary>ATS Perf.</h6>
    <h6 ng-repeat="performance in view.CBBATSHomeTeamPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))"  class="border">{{performance}}</h6>
  </div>
  <div ng-show='view.CBBoPoints'>
    <h6 class=primary>Total Perf.</h6>
    <h6 ng-repeat="totalPerformance in view.CBBHomeTeamTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
  </div>
  </div>
</div>

<div ng-show= "view.showHomeTeamLastYearData" class="text-center">
  <h4 class="text-center">   {{view.dateHomeTeamLastYear}}</h4>
  <div class="colHolder">
    <h6>Average Point Scored Per Game: {{view.CBBHomeTeamLastYearAverageObj.averagePointsScored}}</h6>
    <h6 class="border">Average Vegas Over/Under: {{view.CBBHomeTeamLastYearAverageObj.averageOverUnder}}</h6>
    <h6 class="border">Average Point Spread: {{view.CBBHomeTeamLastYearAverageObj.averagePointSpread}}</h6>
    <h6 class="border">Average ATSPerformance: {{view.CBBHomeTeamLastYearAverageObj.averageATSPerformance}}</h6>
  </div>
  <div class="colHolder">
  <div>
    <h6 class=primary>Date</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBHomeTeamLastYearDates track by $index" class="date">{{date | dateFilter}}</h6>
  </div>
  <div>
    <h6 class=primary>Line</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBHomeTeamLastYearLines track by $index">{{line}}</h6>
  </div>
  <div>
    <h6 class=primary>Total</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBHomeTeamLastYearTotals track by $index">{{total}}</h6>
  </div>
  <div ng-show="view.CBBteams">
    <h6 class=primary>Home Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBHomeTeamLastYearTeams track by $index">{{team}}</h6>
  </div>
  <div>
    <h6 class=primary> Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBHomeTeamLastYearPoints track by $index" ng-href>{{points}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBHomeTeamLastYearOpponents track by $index">{{opponent}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBHomeTeamLastYearoPoints track by $index">{{oPoints}}</h6>
  </div>
  <div>
    <h6 class=primary>Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBHomeTeamLastYearRest track by $index">{{rest}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBHomeTeamLastYearoRest track by $index">{{oRest}}</h6>
  </div>
  <div>
    <h6 class=primary>ATS Perf.</h6>
    <h6 ng-repeat="performance in view.CBBATSHomeTeamLastYearPerformance
 track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))"  class="border">{{performance}}</h6>
  </div>
  <div ng-show='view.CBBoPoints'>
    <h6 class=primary>Total Perf.</h6>
    <h6 ng-repeat="totalPerformance in view.CBBHomeTeamLastYearTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
  </div>
  </div>
</div>

<div ng-show=view.CBBpoints class="text-center">
  <h4 class="text-center">   {{view.dateAwayTeam}}</h4>
  <div class="colHolder">
    <h6>Average Point Scored Per Game: {{view.CBBAwayTeamAverageObj.averagePointsScored}}</h6>
    <h6 class="border">Average Vegas Over/Under: {{view.CBBAwayTeamAverageObj.averageOverUnder}}</h6>
    <h6 class="border">Average Point Spread: {{view.CBBAwayTeamAverageObj.averagePointSpread}}</h6>
    <h6 class="border">Average ATSPerformance: {{view.CBBAwayTeamAverageObj.averageATSPerformance}}</h6>
  </div>
  <div class="colHolder">
  <div>
    <h6 class=primary>Date</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBAwayTeamDates track by $index" class="date">{{date | dateFilter}}</h6>
  </div>
  <div>
    <h6 class=primary> Line</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBAwayTeamLines track by $index">{{line}}</h6>
  </div>
  <div>
    <h6 class=primary>Total</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBAwayTeamTotals track by $index">{{total}}</h6>
  </div>
  <div ng-show="view.CBBteams">
    <h6 class=primary>Home Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBAwayTeamTeams track by $index">{{team}}</h6>
  </div>
  <div>
    <h6 class=primary> Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBAwayTeamPoints track by $index" ng-href>{{points}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBAwayTeamOpponents track by $index">{{opponent}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBAwayTeamoPoints track by $index">{{oPoints}}</h6>
  </div>
  <div>
    <h6 class=primary> Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBAwayTeamRest track by $index">{{rest}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBAwayTeamoRest track by $index">{{oRest}}</h6>
  </div>
  <div>
    <h6 class=primary>ATS Perf.</h6>
    <h6 ng-repeat="performance in view.CBBATSAwayTeamPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))"  class="border">{{performance}}</h6>
  </div>
  <div ng-show='view.CBBoPoints'>
    <h6 class=primary>Total Perf.</h6>
    <h6 ng-repeat="totalPerformance in view.CBBAwayTeamTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
  </div>
  </div>
</div>

<div ng-show= "view.showAwayTeamLastYearData" class="text-center">
  <h4 class="text-center">   {{view.dateAwayTeamLastYear}}</h4>
  <div class="colHolder">
    <h6>Average Point Scored Per Game: {{view.CBBAwayTeamLastYearAverageObj.averagePointsScored}}</h6>
    <h6 class="border">Average Vegas Over/Under: {{view.CBBAwayTeamLastYearAverageObj.averageOverUnder}}</h6>
    <h6 class="border">Average Point Spread: {{view.CBBAwayTeamLastYearAverageObj.averagePointSpread}}</h6>
    <h6 class="border">Average ATSPerformance: {{view.CBBAwayTeamLastYearAverageObj.averageATSPerformance}}</h6>
  </div>
  <div class="colHolder">
  <div>
    <h6 class=primary>Date</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBAwayTeamLastYearDates track by $index" class="date">{{date | dateFilter}}</h6>
  </div>
  <div>
    <h6 class=primary> Line</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBAwayTeamLastYearLines track by $index">{{line}}</h6>
  </div>
  <div>
    <h6 class=primary>Total</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBAwayTeamLastYearTotals track by $index">{{total}}</h6>
  </div>
  <div ng-show="view.CBBteams">
    <h6 class=primary>Home Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBAwayTeamLastYearTeams track by $index">{{team}}</h6>
  </div>
  <div>
    <h6 class=primary> Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBAwayTeamLastYearPoints track by $index" ng-href>{{points}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Team</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBAwayTeamLastYearOpponents track by $index">{{opponent}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Points</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBAwayTeamLastYearoPoints track by $index">{{oPoints}}</h6>
  </div>
  <div>
    <h6 class=primary> Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBAwayTeamLastYearRest track by $index">{{rest}}</h6>
  </div>
  <div>
    <h6 class=primary>Opp. Rest</h6>
    <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBAwayTeamLastYearoRest track by $index">{{oRest}}</h6>
  </div>
  <div>
    <h6 class=primary>ATS Perf.</h6>
    <h6 ng-repeat="performance in view.CBBATSAwayTeamLastYearPerformance
 track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))"  class="border">{{performance}}</h6>
  </div>
  <div ng-show='view.CBBoPoints'>
    <h6 class=primary>Total Perf.</h6>
    <h6 ng-repeat="totalPerformance in view.CBBAwayTeamLastYearTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
  </div>
  </div>
</div>

<div class='text-center'>
  <h4 class="text-center"> {{view.date}}</h4>
  <div class="colHolder" ng-show=
  "view.CBBoPoints">
    <h6>Average Point Scored Per Game: {{view.CBBHTeamAverageObj.averagePointsScored}}</h6>
    <h6 class="border">Average Vegas Over/Under: {{view.CBBHTeamAverageObj.averageOverUnder}}</h6>
    <h6 class="border">Average Point Spread: {{view.CBBHTeamAverageObj.averagePointSpread}}</h6>
    <h6 class="border">Average ATSPerformance: {{view.CBBHTeamAverageObj.averageATSPerformance}}</h6>
  </div>
<div class='colHolder'>
    <div ng-show="view.CBBpoints">
      <h6 class=primary>Date</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBdates track by $index" class="date">{{date | dateFilter}}</h6>
    </div>
    <div>
      <h6 class=primary> Line</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBlines track by $index">{{line}}</h6>
    </div>
    <div>
      <h6 class=primary>Total</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBtotals track by $index">{{total}}</h6>
    </div>
    <div ng-show="view.CBBteams">
      <h6 class=primary>Home Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBteams track by $index">{{team}}</h6>
    </div>
    <div ng-show="view.CBBpoints">
      <h6 class=primary> Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBpoints track by $index" ng-href>{{points}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBopponents track by $index">{{opponent}}</h6>
    </div>
    <div ng-show="view.CBBoPoints">
      <h6 class=primary>Opp. Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBoPoints track by $index">{{oPoints}}</h6>
    </div>
    <div>
      <h6 class=primary> Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBrest track by $index">{{rest}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBoRest track by $index">{{oRest}}</h6>
    </div>
    <div ng-show='view.CBBoPoints'>
      <h6 class=primary>ATS Perf.</h6>
      <h6 ng-repeat="performance in view.ATSPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))"  ng-href='' class="border">{{performance}}</h6>
    </div>
    <div ng-show='view.CBBoPoints'>
      <h6 class=primary>Total Perf.</h6>
      <h6 ng-repeat="totalPerformance in view.CBBTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))"  ng-href='' class="border">{{totalPerformance}}</h6>
    </div>
    <div ng-hide="view.CBBpoints">
      <h6 class=primary>Analyze</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBtotals track by $index"><a href="" ng-click="view.analyzeCBBMatchup($index)" id="analyze">Get Data</a></h6>
    </div>
  </div>

  <div ng-show=view.CBBpoints class="text-center">
    <h4 class="text-center"> {{view.dateATeam}}</h4>
    <div class="colHolder" ng-show=
    "view.CBBoPoints">
      <h6>Average Point Scored Per Game: {{view.CBBATeamAverageObj.averagePointsScored}}</h6>
      <h6 class="border">Average Vegas Over/Under: {{view.CBBATeamAverageObj.averageOverUnder}}</h6>
      <h6 class="border">Average Point Spread: {{view.CBBATeamAverageObj.averagePointSpread}}</h6>
      <h6 class="border">Average ATSPerformance: {{view.CBBATeamAverageObj.averageATSPerformance}}</h6>
    </div>
    <div class="colHolder">
    <div>
      <h6 class=primary>Date</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBATeamDates track by $index" class="date">{{date | dateFilter}}</h6>
    </div>
    <div>
      <h6 class=primary> Line</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBATeamLines track by $index">{{line}}</h6>
    </div>
    <div>
      <h6 class=primary>Total</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBATeamTotals track by $index">{{total}}</h6>
    </div>
    <div ng-show="view.CBBteams">
      <h6 class=primary>Home Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBATeamTeams track by $index">{{team}}</h6>
    </div>
    <div>
      <h6 class=primary> Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBATeamPoints track by $index" ng-href>{{points}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBATeamOpponents track by $index">{{opponent}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBATeamoPoints track by $index">{{oPoints}}</h6>
    </div>
    <div>
      <h6 class=primary> Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBATeamRest track by $index">{{rest}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBATeamoRest track by $index">{{oRest}}</h6>
    </div>
    <div>
      <h6 class=primary>ATS Perf.</h6>
      <h6 ng-repeat="performance in view.CBBATSATeamPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{performance}}</h6>
    </div>
    <div ng-show='view.CBBoPoints'>
      <h6 class=primary>Total Perf.</h6>
      <h6 ng-repeat="totalPerformance in view.CBBATeamTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
    </div>
    </div>
  </div>

  <div ng-show=view.CBBpoints class="text-center">
    <h4 class="text-center"> {{view.dateHomeTeamRestData}}</h4>
    <div class="colHolder" ng-show=
    "view.CBBoPoints">
      <h6>Average Point Scored Per Game: {{view.CBBHomeTeamRestDataAverageObj.averagePointsScored}}</h6>
      <h6 class="border">Average Vegas Over/Under: {{view.CBBHomeTeamRestDataAverageObj.averageOverUnder}}</h6>
      <h6 class="border">Average Point Spread: {{view.CBBHomeTeamRestDataAverageObj.averagePointSpread}}</h6>
      <h6 class="border">Average ATSPerformance: {{view.CBBHomeTeamRestDataAverageObj.averageATSPerformance}}</h6>
    </div>
    <div class="colHolder">
    <div>
      <h6 class=primary>Date</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBHomeTeamRestDataDates track by $index" class="date">{{date | dateFilter}}</h6>
    </div>
    <div>
      <h6 class=primary> Line</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBHomeTeamRestDataLines track by $index">{{line}}</h6>
    </div>
    <div>
      <h6 class=primary>Total</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBHomeTeamRestDataTotals track by $index">{{total}}</h6>
    </div>
    <div ng-show="view.CBBteams">
      <h6 class=primary>Home Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBHomeTeamRestDataTeams track by $index">{{team}}</h6>
    </div>
    <div>
      <h6 class=primary> Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBHomeTeamRestDataPoints track by $index" ng-href>{{points}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBHomeTeamRestDataOpponents track by $index">{{opponent}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBHomeTeamRestDataoPoints track by $index">{{oPoints}}</h6>
    </div>
    <div>
      <h6 class=primary>Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBHomeTeamRestDataRest track by $index">{{rest}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBHomeTeamRestDataoRest track by $index">{{oRest}}</h6>
    </div>
    <div>
      <h6 class=primary>ATS Perf.</h6>
      <h6 ng-repeat="performance in view.CBBATSHomeTeamRestDataPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{performance}}</h6>
    </div>
    <div ng-show='view.CBBoPoints'>
      <h6 class=primary>Total Perf.</h6>
      <h6 ng-repeat="totalPerformance in view.CBBHomeTeamRestDataTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
    </div>
    </div>
  </div>

  <div ng-show=view.CBBpoints class="text-center">
    <h4 class="text-center"> {{view.dateAwayTeamRestData}}</h4>
    <div class="colHolder" ng-show=
    "view.CBBoPoints">
      <h6>Average Point Scored Per Game: {{view.CBBAwayTeamRestDataAverageObj.averagePointsScored}}</h6>
      <h6 class="border">Average Vegas Over/Under: {{view.CBBAwayTeamRestDataAverageObj.averageOverUnder}}</h6>
      <h6 class="border">Average Point Spread: {{view.CBBAwayTeamRestDataAverageObj.averagePointSpread}}</h6>
      <h6 class="border">Average ATSPerformance: {{view.CBBAwayTeamRestDataAverageObj.averageATSPerformance}}</h6>
    </div>
    <div class="colHolder">
    <div>
      <h6 class=primary>Date</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBAwayTeamRestDataDates track by $index" class="date">{{date | dateFilter}}</h6>
    </div>
    <div>
      <h6 class=primary> Line</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBAwayTeamRestDataLines track by $index">{{line}}</h6>
    </div>
    <div>
      <h6 class=primary>Total</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBAwayTeamRestDataTotals track by $index">{{total}}</h6>
    </div>
    <div ng-show="view.CBBteams">
      <h6 class=primary>Home Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBAwayTeamRestDataTeams track by $index">{{team}}</h6>
    </div>
    <div>
      <h6 class=primary> Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBAwayTeamRestDataPoints track by $index" ng-href>{{points}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBAwayTeamRestDataOpponents track by $index">{{opponent}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBAwayTeamRestDataoPoints track by $index">{{oPoints}}</h6>
    </div>
    <div>
      <h6 class=primary> Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBAwayTeamRestDataRest track by $index">{{rest}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBAwayTeamRestDataoRest track by $index">{{oRest}}</h6>
    </div>
    <div>
      <h6 class=primary>ATS Perf.</h6>
      <h6 ng-repeat="performance in view.CBBATSAwayTeamRestDataPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{performance}}</h6>
    </div>
    <div ng-show='view.CBBoPoints'>
      <h6 class=primary>Total Perf.</h6>
      <h6 ng-repeat="totalPerformance in view.CBBAwayTeamRestDataTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
    </div>
    </div>
  </div>

  <div ng-show='view.CBBVersusLines.length > 0' class="text-center">
    <h4 class="text-center"> {{view.dateVersus}}</h4>
    <div class="colHolder" ng-show=
    "view.CBBoPoints">
      <h6>Average Point Scored Per Game: {{view.CBBVersusAverageObj.averagePointsScored}}</h6>
      <h6 class="border">Average Vegas Over/Under: {{view.CBBVersusAverageObj.averageOverUnder}}</h6>
      <h6 class="border">Average Point Spread: {{view.CBBVersusAverageObj.averagePointSpread}}</h6>
      <h6 class="border">Average ATSPerformance: {{view.CBBVersusAverageObj.averageATSPerformance}}</h6>
    </div>
    <div class="colHolder">
    <div>
      <h6 class=primary>Date</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="date in view.CBBVersusDates track by $index" class="date">{{date | dateFilter}}</h6>
    </div>
    <div>
      <h6 class=primary> Line</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="line in view.CBBVersusLines track by $index">{{line}}</h6>
    </div>
    <div>
      <h6 class=primary>Total</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="total in view.CBBVersusTotals track by $index">{{total}}</h6>
    </div>
    <div ng-show="view.CBBteams">
      <h6 class=primary>Home Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="team in view.CBBVersusTeams track by $index">{{team}}</h6>
    </div>
    <div>
      <h6 class=primary> Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="points in view.CBBVersusPoints track by $index" ng-href>{{points}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Team</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="opponent in view.CBBVersusOpponents track by $index">{{opponent}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Points</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oPoints in view.CBBVersusoPoints track by $index">{{oPoints}}</h6>
    </div>
    <div>
      <h6 class=primary> Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="rest in view.CBBVersusRest track by $index">{{rest}}</h6>
    </div>
    <div>
      <h6 class=primary>Opp. Rest</h6>
      <h6 ng-class="{'success': $even}" ng-repeat="oRest in view.CBBVersusoRest track by $index">{{oRest}}</h6>
    </div>
    <div>
      <h6 class=primary>ATS Perf.</h6>
      <h6 ng-repeat="performance in view.CBBATSVersusPerformance track by $index" ng-class="performance > 0 ? 'green' : (performance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{performance}}</h6>
    </div>
    <div ng-show='view.CBBoPoints'>
      <h6 class=primary>Total Perf.</h6>
      <h6 ng-repeat="totalPerformance in view.CBBVersusTotalPerformance track by $index" ng-class="totalPerformance > 0 ? 'green' : (totalPerformance < 0 ? 'red' : ($even ? 'bg-info' : 'bg-info'))" ng-href='' class="border">{{totalPerformance}}</h6>
    </div>
    </div>
  </div>

</div>
