<h3 class="text-center">NFL Home</h3>
<h4 class="text-center"><a ng-click="view.toggle" ng-href="/#/">Home</a></h4>
<div class='text-center'>

  <p ng-show="view.successGreeting.length" class="text-center">
    {{view.successGreeting}}
  </p>

  <div class='colHolder'>
    <div>
      <h5 class=primary>Line</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="line in view.NFLlines track by $index"><a ng-href="/#/NFL/lineAnalysis/{{line}}">{{line}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Total</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="total in view.NFLtotals track by $index"><a ng-href="/#/NFL/totalAnalysis/{{total}}">{{total}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Home Team</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="team in view.NFLteams track by $index"><a ng-href="/#/NFL/teamAnalysis/{{team}}">{{team}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Away Team</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="opponent in view.NFLopponents track by $index"><a ng-href="/#/NFL/opponentAnalysis/{{opponent}}">{{opponent}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Rest</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="rest in view.NFLrest track by $index"><a ng-href="/#/NFL/restAnalysis/{{rest}}">{{rest}}</a></h5>
    </div>
    <div>
      <h5 class=primary>Opp. Rest</h5>
      <h5 ng-class="{'success': $even}" ng-repeat="oRest in view.NFLoRest track by $index"><a ng-href="/#/NFL/oRestAnalysis/{{rest}}">{{oRest}}</a></h5>
    </div>
  </div>

</div>
